<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="admin/_fragments :: head(~{::title})">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>博客管理登录</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
  <link rel="stylesheet" href="../../static/css/me.css">
</head>
<body>
<br/>
<br/>
<br/>
<br/>
  <div>
    <div class="m-container-small m-padded-tb-massive" style="max-width: 30em !important;">
      <div class="ui container">
        <div class="column">
          <h2 class="ui teal image header">

            <div class="content">
              管理后台登录
            </div>
          </h2>
          <form class="ui large form" method="post" action="#" th:action="@{/admin/login}">
            <div class="ui  segment">
              <div class="field">
                <div class="ui left icon input">
                  <i class="user icon"></i>
                  <input type="text" name="username" placeholder="用户名">
                </div>
              </div>
              <div class="field">
                <div class="ui left icon input">
                  <i class="lock icon"></i>
                  <input type="password" name="password" placeholder="密码">
                </div>
              </div>
              <button class="ui fluid large teal submit button">登    录</button>
            </div>

            <div class="ui mini error message"></div>
            <div class="ui mini negative message" th:unless="${#strings.isEmpty(message)}" th:text="${message}">
              用户名和密码错误
            </div>
          </form>


        </div>
      </div>
    </div>
  </div>
</body>

<script src="http://mat1.gtimg.com/libs/jquery2/2.2.0/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>



<script>
  //清除class上的手机端隐藏功能
  $('.menu.toggle').click(function () {
    $('.m-item').toggleClass('m-mobile-hide')
  });
  $('.ui.dropdown').dropdown({
    on:'hover'
  });
  $('.ui.form').form({
    fields:{
      username:{
        identifier:'username',
        rules:[{
          type:'empty',
          prompt:'请输入用户名'
        }]
      },
      password:{
        identifier:'password',
        rules:[{
          type:'empty',
          prompt:'请输入密码'
        }]
      }
    }
  });
</script>

</html>