<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="_fragments :: head(~{::title})">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>标签</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
  <link rel="stylesheet" href="../static/css/me.css">
</head>

<body>
  <!-- 导航-->
  <nav  th:replace="_fragments :: menu(3)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
      <div class="ui inverted secondary stackable menu">
        <h2 class="ui teal header item">Blog</h2>
        <a href="#" class="item m-item m-mobile-hide"><i class="mini home icon"></i>首页</a>
        <a href="#" class="item m-item m-mobile-hide"><i class="mini idea icon"></i>分类</a>
        <a href="#" class="active item m-item m-mobile-hide"><i class="mini tags icon"></i> 标签</a>
        <a href="#" class="item m-item m-mobile-hide"><i class="mini clone icon"></i> 归档</a>
        <a href="#" class="item m-item m-mobile-hide"><i class="mini info icon"></i>关于我</a>
        <div class="right item m-mobile-hide">
          <div class="ui icon inverted transparent input">
            <!--在class里面加个icon 这个div里面可以放入一个图标样式-->
            <input type="text" placeholder="Search...">
            <i class="search link icon"></i>
          </div>
        </div>
      </div>
      <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
      </a>
    </div>

  </nav>
  <!--中间内容-->
  <div class="m-padded-tb-large m-container-small">
      <div class="ui container">
        <div class="ui top attached segment">
          <div class="ui middle aligned two column grid">
            <div class="column">
              <h3 class="ui teal header">标签</h3>
            </div>
            <div class="right aligned column">
              共<h2 class="ui orange header m-inline-blok m-text-thin" th:text="${#arrays.length(tags)}">14</h2>个
            </div>
          </div>
        </div>
      </div>
      <div class="ui attached segment m-padded-tb-large">
        <a href="#"  th:href="@{/tags/{id}(id=${tag.id})}" th:classappend="${tag.id==activceTypeId}?'teal'"  class="ui  basic left pointing large label m-margin-tb-tiny" th:each="tag : ${tags}">
          <span th:text="${tag.name}">方法论</span><div class="detail" th:text="${#arrays.length(tag.blogs)}">
            15
          </div>
          </a>

      </div>
      <div class="ui top attached teal segment">


        <div class="ui padded vertical segment m-padded-tb-mini-mini m-mobile-lr-clear">
          <div class="ui middle aligned padded vertical segment m-padded-tb-large" th:each="blog : ${page.result}">

            <div class="ui mobile reversed stackable grid m-padded-tb-mini-mini" >
              <div class="eleven wide column ">
                <h3 class="ui header"><a href="#" th:href="@{/blog/{id}(id=${blog.id})}"  class="m-black" th:text="${blog.title}">你真的理解什么是财富自由吗?</a></h3>
                <p class="m-text" th:text="|${blog.description}......|">
                  正确做好任何一件事情的前提是清晰、正确的理解目标。 正确做好任何一件事情的前提是清晰、正确的理解目标。 正确做好任何一件事情的前提是清晰、正确的理解目标。
                  正确做好任何一件事情的前提是清晰、正确的理解目标。
                </p>
                <div class="ui  grid">
                  <div class="row">
                    <div class="eleven wide column">
                      <div class="ui mini horizontal link list">
                        <div class="item">
                          <img src="https://picsum.photos/id/1/100/100?image=1005" th:src="@{${blog.user.avatar}}" alt="" class="ui avatar image">
                          <div class="content">
                            <a href="#" class="header" th:text="${blog.user.nickname}">红尘</a>
                          </div>
                        </div>
                        <div class="item">
                          <i class="calendar icon"></i><span th:text="${#dates.format(blog.updatetime,'yyyy-MM-dd ')}">2020-5-11</span>
                        </div>
                        <div class="item">
                          <i class="eye icon"></i><span th:text="${blog.views}"></span>
                        </div>

                      </div>
                    </div>
                    <div class="right aligned five wide column">
                      <a href="#" class="ui teal basic label m-padded-tiny m-text-thin" th:text="${blog.type.name}">认知升级</a>
                    </div>
                  </div>
                  </div>

                <div class="row">
                  <div class="column">
                    <a href="" th:href="@{/tags/{id}(id=${tag.id})}" class="ui basic  left pointing label m-padded-tb-mini m-text-thin"  th:classappend="${tag.id==activceTypeId}?'teal'" th:each="tag : ${blog.tags}" th:text="${tag.name }">
                      方法论
                    </a>
                  </div>
                </div>
              </div>
              <div class="five wide column">
                <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">
                  <img src="https://picsum.photos/id/1/800/450?image=1005" th:src="@{${blog.firstpicture}}"  alt="" class="ui rounded image">
                </a>
              </div>
            </div>

          </div>

        </div>




      </div>

    <div class="ui bottom attached segment " th:if="${page.pages}>1">
      <div class="ui middle aligned two column grid ">
        <div class="column">
          <a th:href="@{/tags/{id}(id=${activceTypeId},page=${page.pageNum-1})}" th:if="${page.pageNum>1}" href="" class="ui mini teal basic button">上一页</a>
        </div>
        <div class="right aligned column">
          <a th:href="@{/tags/{id}(id=${activceTypeId},page=${page.pageNum+1})}" th:if="${page.pageNum<page.pages}" href="" class="ui mini teal basic button">下一页</a>
        </div>
      </div>
    </div>
  </div>

  </div>
  <!--底部-->
</body>
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
  <div class="ui center aligned container">
    <div class="ui inverted divided stackable grid">
      <div class="three wide column">
        <div class="ui inverted link list">
          <div class="item">
            <img src="./static/images/wechat.jpg" class="ui rounded image" alt="" style="width:110px">
          </div>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header m-text-thin m-text-spaced m-opacity-mini">最新博客</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">用户故事 (User Story)</a>
          <a href="#" class="item">用户故事 (User Story)</a>
          <a href="#" class="item">用户故事 (User Story)</a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header m-text-thin m-text-spaced m-opacity-mini">联系我</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">Emain：744882174@qq.com</a>
          <a href="#" class="item">QQ:744882174</a>
        </div>
      </div>
      <div class="seven wide column">
        <h4 class="ui inverted header m-text-thin m-text-spaced m-opacity-mini">Blog</h4>
        <p class="m-text-thin m-text-spaced m-opacity-mini">这是我的个人博客、会分享关于编程、写作、思考相关的内容，希望可以给来到这儿的人有所帮助...</p>
      </div>
    </div>
    <div class="ui section divider"></div>
    <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2020-2021 ApeNixX All Rights Reserved V.3.1.3
      粤ICP备20013507号</p>
  </div>
</footer>

<script src="http://mat1.gtimg.com/libs/jquery2/2.2.0/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>



  <script>
  //清除class上的手机端隐藏功能
  $('.menu.toggle').click(function () {
    $('.m-item').toggleClass('m-mobile-hide')
  });


</script>

</html>